.stories-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.story-wrap {
  max-width: 900px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.story-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  h1 {
    font-size: 42px;
  }
}

.story-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.story-tab {
  width: 100%;
  margin-top: 30px;
}
