.EachpostHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.userinfo-eachpost {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sotcial-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.eachPost-bookmark {
  display: flex;
  align-items: center;
  justify-content: center;
}
