.topics-container-header {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  display: flex;
  font-size: 12px;
  background-color: rgba(211, 211, 211, 0.732);
  margin: 1px 3px;
  padding: 6px 10px;
  border-radius: 30px;
  cursor: pointer;
}
