.lists-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  padding: 15px;
  border: 1px solid #e6e6e6;
}

.lists-card__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}

.wiev__lists-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

@media (max-width: 900px) {
  .lists-card {
    flex-direction: column-reverse;
    align-items: center;
  }
  .lists-card__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
}

@media (max-width: 650px) {
  .lists-card {
    flex-direction: column-reverse;
    align-items: center;
  }
  .lists-card__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .story-list-img-container {
    width: 100%;
    img {
      width: 100%;
    }
  }
}

@media (max-width: 330px) {
  .wiev__lists-card {
    font-size: 10px;
    flex-direction: column-reverse;
  }
}
