@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Macondo&family=Montserrat&family=PT+Sans&display=swap");

.App {
  font-family: "Indie Flower", cursive;
  font-family: "Macondo", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "PT Sans", sans-serif;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #8f54a0 #e8e8e8;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #e8e8e8;
}

*::-webkit-scrollbar-thumb {
  background-color: #8f54a0;
  border-radius: 20px;
  border: 3px solid #ffffff;
}

a {
  text-decoration: none;
  color: black;
}
